<div class="listings">
<h2>top menu</h2>
<ul>
  <li><%= icon_tag(:write) %> ... add new entry</li>
  <li><%= icon_tag(:search) %> ... search entries</li>
  <li><%= icon_tag(:settings) %> ... change session settings</li>
  <li><%= icon_tag(:logout) %> ... logout and discard settings</li>
  <li><%= icon_tag(:help) %> ... show this help</li>
</ul>

<h2>page cursor</h2>
<ul>
  <li><%= icon_tag(:previous) %> ... go previous page</li>
  <li><%= icon_tag(:next) %> ... go next page</li>
  <li><%= icon_tag(:top) %> ... go top of this page</li>
  <li><%= icon_tag(:bottom) %> ... go bottom of this page</li>
  <li><%= icon_tag(:more) %> ... go detailed page which shows omitted entries/comments of a list</li>
</ul>

<h2>operation</h2>

<p>Operation for each entry.</p>
<ul>
  <li><%= icon_tag(:comment_add) %> ... add comment to the entry</li>
  <li><%= icon_tag(:pin) %> ... pin the entry to [inbox] view</li>
  <li><%= icon_tag(:pinned) %> ... unpin the entry and archive to [all]</li>
  <li><%= submit_tag(:archive) %> ... archive all entries in [inbox] to [all] except pinned entries</li>
  <li><%= icon_tag(:like) %> ... add 'like'</li>
  <li><%= icon_tag(:star) %> ... delete 'like'</li>
  <li><%= icon_tag(:delete) %> ... delete the entry/comment</li>
  <li><%= icon_tag(:reshare) %> ... reshare the entry</li>
</ul>

<h2>page menu</h2>
<ul>
  <li>[inbox] ... show your entries in 'home' excluding archived entries</li>
  <li>[all] ... show all of your entries in 'home' including archived entries</li>
  <li>[me] ... show your profile</li>
  <li>[lists] ... show entries of your list</li>
  <li>[rooms] ... show entries of rooms you are joining</li>
  <li><%= icon_tag(:url) %> ... show seach result page of entries which relate to specified link</li>
  <li><%= image_tag('http://friendfeed.com/static/images/icons/internal.png') %> ... show filtered entries by specified service</li>
  <li>(user link) ... show user profile</li>
</ul>

<h2>user filter menu</h2>

<p>These filters are shown at the top of user profile page.</p>

<ul>
  <li>[self] ... show entries of the user</li>
  <li>[friends] ... show entries of the user + his/her friends</li>
  <li>[likes] ... show entries the user 'like'd</li>
  <li>[comments] ... show entries the user commented</li>
  <li>[liked] ... show entries of the user which is commented by other</li>
  <li>[commented] ... show entries of the user which is commented or 'like'd</li>
</ul>

<h2>notation</h2>
<ul>
  <li><%= icon_tag(:go) %> ... link to go source site</li>
  <li><%= icon_tag(:map) %> ... search location with mobile GPS info</li>
  <li><%= icon_tag(:comment) %> ... self comment by the entry author</li>
  <li><%= icon_tag(:friend_comment) %> ... comment from friends of the entry author</li>
  <li><%= icon_tag(:related) %> ... showing related entries</li>
</ul>
</div>
