<hr />

<div class="listings">
<p>Menu</p>
<ul>
  <li>[menu] ... show following menu at the bottom of the page</li>
  <li>[profile] ... show your profile</li>
  <li>[search] ... search entries</li>
  <li>[settings] ... change session settings</li>
  <li>[logout] ... logout and discard settings</li>
  <li>[?] ... show this help</li>
  <li>[^] ... up to the page top</li>
</ul>

<p>Feed Filters</p>
<ul>
  <li>Inbox ... show Inbox; Inbox contains unread entries in Home feed</li>
  <li>Star ... show Starred entries</li>
  <li>You ... show your feed</li>
  <li>Discussions ... show your comments + likes</li>
  <li>DM ... show your Direct messages</li>
  <li>Lists ... your Lists</li>
  <li>Searches ... your Saved searches</li>
</ul>

<p>Entries List Operation</p>
<ul>
  <li>[&lt;] ... go previous page</li>
  <li>[&gt;] ... go next page</li>
  <li>[show first] ... show first entry of the list</li>
  <li>[archive all] ... (Inbox only) archive all listed entries except Starred entries</li>
  <li>[show all] ... (Inbox only) show all entries including archived entries</li>
</ul>

<p>Entry Operation</p>
<ul>
  <li><%= icon_tag(:pin) %> ... add Star to the entry; Starred entries keep on showing in Inbox</li>
  <li><%= icon_tag(:pinned) %> ... Delete Star</li>
  <li><%= icon_tag(:liked) %> ... show who 'like'd it</li>
  <li>[like] ... add 'like' to the entry</li>
  <li>[un-like] ... delete 'like' to the entry</li>
  <li>&gt;&gt;&gt; ... add comment</li>
</ul>

<p>Profile Operation (Go (user)-&gt;[profile]</p>
<ul>
  <li>Likes ... show entries this user likes</li>
  <li>Liked ... show entries of this user which are liked</li>
  <li>With friends ... show entries of this user and friends</li>
  <li>[edit] ... edit subscription (follow/unfollow)</li>
</ul>
</div>

<hr />

<p>
'f2p' is a web-based FriendFeed application for mobile users by NaHi.
It's based on <a href="http://friendfeed.com/api/">FriendFeed API</a> but
it's not formally affiliated with <a href="http://friendfeed.com">FriendFeed</a>.
Let me know about any trouble on this service at <%= link_url('http://friendfeed.com/f2p') %>.
</p>

<hr />
<p>Special thanks:</p>
<ul>
  <li>Icons used in this site are <a href="http://www.famfamfam.com/lab/icons/silk/">&quot;Silk&quot; by FAMFAMFAM</a>.</li>
  <li>This product includes GeoLite data created by MaxMind, available from <a href="http://www.maxmind.com/">http://www.maxmind.com/</a>.</li>
</ul>

<hr />
<p>NAKAMURA, Hiroshi a.k.a. NaHi - <%= link_url('http://friendfeed.com/nahi') %></p>
