<p>Help</p>

<hr />

<div class="listings">
<p>Service</p>
<ul>
  <li><%= friendfeed_icon_tag %> ... show FriendFeed entries</li>
  <li><%= twitter_icon_tag %> ... show Twitter timeline</li>
  <li><%= buzz_icon_tag %> ... show Google buzz activities</li>
</ul>

<p>Entries List Operation</p>
<ul>
  <li>[load more...] ... go next page</li>
</ul>

<p>Entry Operation</p>
<ul>
  <li><%= icon_tag(:pin) %> ... add Star to the entry; Starred entries keep on showing in Inbox</li>
  <li><%= icon_tag(:pinned) %> ... Delete Star</li>
  <li><%= icon_tag(:liked) %> ... show who 'like'd it</li>
  <li>[like] ... add 'like' to the entry</li>
  <li>[un-like] ... delete 'like' to the entry</li>
  <li>&gt;&gt;&gt; ... add comment</li>
</ul>

<p>Menu</p>
<ul>
  <li>[menu] ... show following menu at the bottom of the page</li>
  <li>[profile] ... show your profile</li>
  <li>[search] ... search entries</li>
  <li>[settings] ... change session settings</li>
  <li>[logout] ... logout and discard settings</li>
  <li>[?] ... show this help</li>
  <li>[^] ... up to the page top</li>
</ul>

<p>Feed Filters</p>
<ul>
  <li>Inbox ... show Inbox; Inbox contains unread entries in Home feed</li>
  <li>Star ... show Starred entries</li>
  <li>You ... show your feed</li>
  <li>Discussions ... show your comments + likes</li>
  <li>DM ... show your Direct messages</li>
  <li>Lists ... your Lists</li>
  <li>Searches ... your Saved searches</li>
</ul>

<p>Profile Operation (Go (user)-&gt;[profile]</p>
<ul>
  <li>Likes ... show entries this user likes</li>
  <li>Liked ... show entries of this user which are liked</li>
  <li>With friends ... show entries of this user and friends</li>
  <li>[edit] ... edit subscription (follow/unfollow)</li>
</ul>
</div>

<hr />

<p>
'm.ctor.org' is a web-based <a href="http://friendfeed.com/">FriendFeed</a>, <a href="http://twitter.com/">Twitter</a> and <a href="http://buzz.google.com/">Google buzz</a> application for mobile users by NaHi.
It's based on <a href="http://friendfeed.com/api/">FriendFeed API</a>, <a href="http://dev.twitter.com/">Twitter API</a> and <a href="http://code.google.com/apis/buzz/docs/">Google buzz API</a> but
it's not formally affiliated with the original services.
See <%= link_to(h('help page'), :controller => 'help', :action => 'index') %> to see what you can do.
</p>
<ul>
  <li>NO WARRANTY; This service is provided on an "AS IS" basis without warranty of any kind.</li>
  <li>You need to agree that this service can stop without giving any prior warning.</li>
  <li>Your feed/status/activity IDs are stored in DB. And the content of 'Star'ed feed/status/activity are stored in DB, too. Stored data won't be shared with third-parties.</li>
  <li>Let me know about any trouble on this service at <%= link_url('http://friendfeed.com/f2p') %> or <%= link_url('http://www.google.com/profiles/nakahiro') %>.</li>
</ul>
<hr />
<p>Special thanks:</p>
<ul>
  <li>Icons used in this site are <a href="http://www.famfamfam.com/lab/icons/silk/">&quot;Silk&quot; by FAMFAMFAM</a>.</li>
  <li>This product includes GeoLite data created by MaxMind, available from <a href="http://www.maxmind.com/">http://www.maxmind.com/</a>.</li>
</ul>

<hr />
<p>Hiroshi Nakamura a.k.a. NaHi - <%= link_url('http://www.google.com/profiles/nakahiro') %></p>
