<div class="listings">
<h2>top menu</h2>
<ul>
  <li><%= icon_tag(:write) %></li>
  <li><%= icon_tag(:search) %></li>
  <li><%= icon_tag(:settings) %></li>
  <li><%= icon_tag(:logout) %></li>
  <li><%= icon_tag(:help) %> show this help</li>
</ul>

<h2>page cursor</h2>
<ul>
  <li><%= icon_tag(:previous) %></li>
  <li><%= icon_tag(:next) %></li>
  <li><%= icon_tag(:top) %></li>
  <li><%= icon_tag(:bottom) %></li>
  <li><%= icon_tag(:more) %></li>
  <li><%= icon_tag(:url) %></li>
</ul>

<h2>general page menu</h2>
<ul>
  <li>[inbox]</li>
  <li>[all]</li>
  <li>[me]</li>
  <li>[lists]</li>
  <li>[rooms]</li>
</ul>

<h2>user filter menu</h2>
<ul>
  <li>[self]</li>
  <li>[friends]</li>
  <li>[likes]</li>
  <li>[comments]</li>
  <li>[liked]</li>
  <li>[commented]</li>
</ul>

<h2>entry operation</h2>
<ul>
  <li><%= icon_tag(:pin) %></li>
  <li><%= icon_tag(:pinned) %></li>
  <li><%= icon_tag(:like) %></li>
  <li><%= icon_tag(:star) %></li>
  <li><%= icon_tag(:comment_add) %></li>
  <li><%= icon_tag(:delete) %></li>
  <li><%= icon_tag(:reshare) %></li>
</ul>

<h2>notation</h2>
<ul>
  <li><%= icon_tag(:go) %></li>
  <li><%= icon_tag(:map) %></li>
  <li><%= icon_tag(:comment) %></li>
  <li><%= icon_tag(:friend_comment) %></li>
  <li><%= icon_tag(:related) %></li>
</ul>
</div>
