<h1><%= link_to(appname, :controller => 'entry', :action => 'list') %> settings</h1>
<%- if flash[:error] -%>
  <%= error_messages_for 'profile' %>
<%- end -%>
<%- form_tag({:action => 'update'}, {:name => 'post'}) do -%>
  <p>
    font size: <%= text_field_tag('font_size', @font_size) %><br/>
    entries in page: <%= text_field_tag('entries_in_page', @entries_in_page) %><br/>
    entries in thread: <%= text_field_tag('entries_in_thread', @entries_in_thread) %><br/>
    text folding size: <%= text_field_tag('text_folding_size', @text_folding_size) %><br/>
    <%= submit_tag 'update' %>
  </p>
<%- end -%>
<script type='text/javascript'><!--
post.font_size.focus();
//--></script>
