<%- if flash[:error] -%>
  <p class="error"><%= h(flash[:error]) %>
<%- end -%>
<p>Settings used in this session.</p>
<%- form_tag({:action => 'update'}, {:name => 'post'}) do -%>
  <p>
    timezone: <%= timezone_select_tag('timezone', @timezone) %><br />
    font size: <%= text_field_tag('font_size', @font_size) %><br />
    entries in page: <%= text_field_tag('entries_in_page', @entries_in_page) %><br />
    comments in list view: <%= text_field_tag('entries_in_thread', @entries_in_thread) %><br />
    text folding size: <%= text_field_tag('text_folding_size', @text_folding_size) %><br />
    show twitter username: <%= check_box_tag('twitter_comment_hack', 'checked', @twitter_comment_hack) %><br />
    disable friend-of-friend notifications: <%= check_box_tag('disable_fof', 'checked', @disable_fof) %><br />
    show medias in list view: <%= check_box_tag('list_view_media_rendering', 'checked', @list_view_media_rendering) %><br />
    show profile picture in list view: <%= check_box_tag('list_view_profile_picture', 'checked', @list_view_profile_picture) %><br />
    open links in new window: <%= check_box_tag('link_open_new_window', 'checked', @link_open_new_window) %><br />
    open links via mobile proxy(gwt): <%= check_box_tag('link_type_gwt', 'checked', @link_type == 'gwt') %><br />
    reload list in minutes: <%= text_field_tag('reload_list_in_minutes', @reload_list_in_minutes) %><br />
    Google Maps geocoding language: <%= text_field_tag('google_maps_geocoding_lang', @google_maps_geocoding_lang) %><br />
    <%= submit_tag 'update' %>
  </p>
<%- end -%>
<hr />
<p>
  <a name="bottom">Menu:</a>
  <%= common_menu %>
</p>
<%= render :partial => 'common' %>
<script type='text/javascript'><!--
post.font_size.focus();
//--></script>
