<h1><%= appname %> login</h1>

<hr />
<p>
1. Click the banner for granting access to FriendFeed by f2p.
You don't have to register your credential to dev.ctor.org any more.
(You're redirected to FriendFeed Web site. It's easy to follow steps.)<br />
<%= oauth_image_tag %><br />
You can remove the grant anytime at <%= link_to('http://friendfeed.com/settings/applications', 'http://friendfeed.com/settings/applications') %>.
</p>

<p>
Or
</p>

<p>
2. You can login f2p by registering your remote key to dev.ctor.org.
Remote key is sent to FriendFeed for each access in PLAIN data.
Do NOT enter your FriendFeed PASSWORD here.  Please find your remote key from PC using this link: <%= link_to('http://friendfeed.com/account/api', 'https://friendfeed.com/account/api') %><br />
<%- form_tag :action => 'authenticate' do -%>
  <%- if flash[:error] -%>
    <p class="message"><%= flash[:error] %></p>
  <%- end -%>
  <p>
    FriendFeed user nickname: <%= text_field_tag 'name' %><br />
    Remote key(NOT A PASSWORD): <%= password_field_tag 'remote_key' %><br />
    <%= submit_tag 'login' %>
  </p>
<%- end -%>
<hr />
<p>
'f2p' is a web-based <a href="http://friendfeed.com/">FriendFeed</a> application for mobile users by NaHi.
It's based on <a href="http://friendfeed.com/api/">FriendFeed API</a> but
it's not formally affiliated with <a href="http://friendfeed.com">FriendFeed</a>.
See <%= link_to(h('help page'), :controller => 'help', :action => 'index') %> to see what you can do.
</p>
<ul>
  <li>NO WARRANTY; This service is provided on an "AS IS" basis without warranty of any kind.</li>
  <li>Your feed ID (e.g. e/9ac57155b878-4438a0abc214d27b747d), pin state and its modification time are stored in DB, too.  Other feed content is NOT stored in DB.</li>
  <li>Let me know about any trouble on this service at <%= link_url('http://friendfeed.com/f2p') %>.</li>
</ul>
<hr />
<p>NAKAMURA, Hiroshi a.k.a. NaHi - <%= link_url('http://friendfeed.com/nahi') %></p>
