<p class="header">'<%= appname %>' sign in</p>

<hr />
<%= oauth_message %>

<p>
You can sign in to 'm.ctor.org' by registering your FriendFeed remote key.
<%- form_tag :action => 'authenticate' do -%>
  <%- if flash[:error] -%>
    <p class="message"><%= flash[:error] %></p>
  <%- end -%>
  <p>
    FriendFeed user nickname: <%= text_field_tag 'name' %><br />
    Remote key(NOT A PASSWORD): <%= password_field_tag 'remote_key' %><br />
    Please find your remote key from PC using this link: <%= link_to('http://friendfeed.com/account/api', 'https://friendfeed.com/account/api') %><br />
    <%= submit_tag 'sign in' %>
  </p>
<%- end -%>
<hr />
<p>
'm.ctor.org' is a web-based <a href="http://friendfeed.com/">FriendFeed</a>, <a href="http://twitter.com/">Twitter</a> and <a href="http://buzz.google.com/">Google buzz</a> application for mobile users by NaHi.
It's based on <a href="http://friendfeed.com/api/">FriendFeed API</a>, <a href="http://dev.twitter.com/">Twitter API</a> and <a href="http://code.google.com/apis/buzz/docs/">Google buzz API</a> but
it's not formally affiliated with the original services.
See <%= link_to(h('help page'), :controller => 'help', :action => 'index') %> to see what you can do.
</p>
<ul>
  <li>NO WARRANTY; This service is provided on an "AS IS" basis without warranty of any kind.</li>
  <li>You need to agree that this service can stop without giving any prior warning.</li>
  <li>Your feed/status/activity IDs are stored in DB. And the content of 'Star'ed feed/status/activity are stored in DB, too. Stored data won't be shared with third-parties.</li>
  <li>Let me know about any trouble on this service at <%= link_url('http://friendfeed.com/f2p') %> or <%= link_url('http://www.google.com/profiles/nakahiro') %>.</li>
</ul>
<hr />
<p>Special thanks:</p>
<ul>
  <li>Icons used in this site are <a href="http://www.famfamfam.com/lab/icons/silk/">&quot;Silk&quot; by FAMFAMFAM</a>.</li>
  <li>This product includes GeoLite data created by MaxMind, available from <a href="http://www.maxmind.com/">http://www.maxmind.com/</a>.</li>
</ul>
<hr />
<p>Hiroshi Nakamura a.k.a. NaHi - <%= link_url('http://www.google.com/profiles/nakahiro') %></p>
