<% entries = fold_entries(thread.entries) -%>
<%= icon(entries.first) %>
<%= updated(entries.last, @compact) %>
<%= user(entries.first) %>@<%= service(entries.first) %>
<ul>
  <% fold_entries(entries).each do |entry| -%>
    <li><%= render :partial => 'entry', :locals => {:entry => entry, :root_user => entries.first.user_id, :root_service => entries.first.service_identity} %></li>
  <%- end %>
</ul>
