<% if v(entry, 'hidden') %>
  (hidden)
<% else %>
  <%= icon(entry) %>
  <%= published(entry, @compact) %>
  <%= user(entry) %>@<%= service(entry) %>
  <ul>
    <li>
      <%= icon(entry) %>
      <%= published(entry, @compact) %>
      <%= content(entry) %>
      <%= via(entry) %>
      <%= likes(entry, @compact) %>
      <%= delete_link(entry) %>
      <%= like_link(entry) %>
      <%= render :partial => 'comment', :locals => {:entry => entry} %>
    </li>
    <% while rest.first and rest.first.grouped %>
      <% child = rest.shift %>
      <li><%= render :partial => 'entry', :locals => {:entry => child, :rest => nil, :root_user => entry.user_id, :root_service => entry.service_identity} %></li>
    <% end %>
  </ul>
<% end %>
