<ul>
  <%- comments.each do |comment| -%>
    <%- if comment.respond_to?(:fold_entries) -%>
      <li><%= fold_comment_link(comment) %></li>
    <%- else -%>
      <li class="comment">
        <%= comment_icon(comment.by_user(comment.entry.nickname)) %>
        <%= date(comment.date, false) if ctx.single? %>
        <%- if ctx.comment != comment.id -%>
          <%= comment(comment) %>
          by <%= user(comment) %>
          <%= via(comment) -%>
          <%= date(comment.date, true) if ctx.list? %>
          <%= comment_url_link(comment) -%>
          <%= edit_comment_link(comment) -%>
          <%= delete_comment_link(comment) -%>
          <%= post_comment_link(comment.entry) if ctx.list? and comment == comment.entry.comments.last and ctx.comment.nil? -%>
        <%- else -%>
          <%= edit_comment_form(comment) %>
        <%- end -%>
      </li>
    <%- end -%>
  <%- end -%>
</ul>
