<%- if @service_source.nil? -%>
<p>Filters: <%= special_feed_links %></p>
<%- end -%>
<%- if str = list_links -%>
<p>Lists: <%= str %></p>
<%- end -%>
<%- if str = saved_search_links -%>
<p>Searches: <%= str %></p>
<%- end -%>
<%- if @service_source == 'twitter' -%>
<p>Tweets: <%= twitter_links %></p>
<%- end -%>
<%- if @service_source == 'buzz' -%>
<p>Buzz: <%= buzz_links %></p>
<%- end -%>
