<%- if entry.respond_to?(:fold_entries) -%>
  <%= fold_link(entry) %>
<%- else -%>
  <%= pin_link(entry) -%>
  <%= icon(entry) %>
  <%= published(entry, false) if ctx.single? -%>
  <%- if entry.view_inbox and !ctx.inbox and !ctx.single? -%>
    <span class="inbox"><%= inbox_label(entry) %></span>
  <%- end -%>
  <%= author_link(entry, (root_user.nil? or root_user != entry.user_id), (root_service.nil? or root_service != entry.service_identity)) %>
  <%= content(entry) %>
  <%= via(entry) -%>
  <%= published(entry, true) if ctx.list? -%>
  <%- if comment_inline?(entry) -%>
    -- <span class="comment"><%= inline_comment(entry.comments.first) %></span>
  <%- end -%>
  <%= original_link(entry) -%>
<%= url_link(entry) -%>
<%= reshare_link(entry) -%>
<%= delete_link(entry) -%>
<%= likes(entry, ctx.list?) -%>
<%= comments(entry, ctx.list?) unless comment_inline?(entry) -%>
<%= like_link(entry) -%>
  <%- if entry.comments.empty? or comment_inline?(entry) -%>
<%= post_comment_link(entry) if ctx.list? %>
  <%- elsif ctx.single? -%>
    <%= render :partial => 'comment', :locals => {:comments => entry.comments} %>
  <%- else -%>
    <%= render :partial => 'comment', :locals => {:comments => fold_comments(entry.comments)} %>
  <%- end -%>
  <%- if ctx.single? -%>
    <%- form_tag({:action => 'add_comment', :id => u(entry.id)}, {:name => 'post'}) do -%>
      <p><%= comment_icon(v(entry, 'user', 'nickname') == auth.name) %> <%= post_comment_form %></p>
      <script type='text/javascript'><!--
      post.body.focus();
      //--></script>
    <%- end -%>
  <%- end -%>
<%- end -%>
