<%- if entry.orphan -%>
<%= pin_link(entry) -%>
<%= published(entry) -%>
  (Entry not found; deleted?)
<%- else -%>
<%- if root.nil? -%>
  <div class="header">
<%= author_link(entry) %> <%= to(entry) %>
    <%= published(entry, true) -%><%= friend_of(entry) -%>
    <span class="comment"><%= via(entry) %></span>
    <%= service_icon(entry) -%>
  </div>
  <div class="body">
    <%= pin_link(entry) -%>
<%- else -%>
  <div class="body">
    <%= pin_link(entry) -%>
    <%- if !twitter_thread and entry.from_id != root.from_id -%>
<%= author_link(entry, false) %>
    <%- end -%>
    <%- if entry.to_ids != root.to_ids -%>
      <%= to(entry) %>
    <%- end -%>
<%- end -%>
<%= content(entry) %>
<%- if twitter_thread -%>
  by <%= author_link(entry, false) %>
<%- elsif root and (entry.via.nil? or !entry.via.twitter?) -%>
  <span class="comment"><%= via(entry) %><%= twitter_reply_to(entry)%><%= twitter_retweet_of(entry)%></span>
<%- end -%>
<%- unless root.nil? -%>
<%= published(entry, true) -%><%= twitter_retweet_of(entry)%>
<%- end -%>
  <%= service_icon(entry) if root and entry.service_id != root.service_id -%>
<%- if comment_inline?(entry) -%>
  -- <span class="comment"><%= inline_comment(entry.comments.first) %></span>
<%- end -%>
  <%= reshare_link(entry) -%>
  <%= friends_likes(entry) -%>
  <%- comments = fold_comments(entry.comments) -%>
  <%- if comments.empty? or comment_inline?(entry) or (comments.size == 1 and fold_item?(comments.first))-%>
  <%= post_comment_link(entry) %>
    </div>
  <%- else -%>
    </div>
    <%= comments(entry.id, comments) %>
  <%- end -%>
<%- end -%>
