<%- if entry.respond_to?(:fold_entries) -%>
  <%= fold_link(entry) %>
<%- else -%>
  <%= icon(entry) %>
  <%= published(entry, false) if @eid -%>
  <%= author_link(entry, (root_user.nil? or root_user != entry.user_id), (root_service.nil? or root_service != entry.service_identity)) %>
  <%= content(entry) %>
  <%- if comment_inline?(entry) -%>
    -- <%= comment(entry.comments.first) -%>
  <%- end -%>
  <%= via(entry) -%>
  <%= published(entry, true) unless @eid -%>
  <%= original_link(entry) -%>
<%= url_link(entry) -%>
<%= likes(entry, !@eid) -%>
<%= comments(entry, !@eid) -%>
<%= delete_link(entry) -%>
<%= like_link(entry) -%>
<%= reshare_link(entry) -%>
  <%- if entry.comments.empty? or comment_inline?(entry) -%>
<%= post_comment_link(entry) if !@eid %>
  <%- elsif @eid -%>
    <br/>
    <%- entry.comments.each do |comment| -%>
      <%= render :partial => 'comment', :locals => {:comment => comment} %><br/>
    <%- end -%>
  <%- else -%>
    <ul>
      <%- fold_comments(entry.comments).each do |comment| -%>
        <li><%= render :partial => 'comment', :locals => {:comment => comment} %></li>
      <%- end -%>
    </ul>
  <%- end -%>
  <%- if @eid -%>
    <%- form_tag({:action => 'add_comment', :id => u(@eid)}, {:name => 'post'}) do -%>
      <p><%= post_comment_form %></p>
      <script type='text/javascript'><!--
      post.body.focus();
      //--></script>
    <%- end -%>
  <%- end -%>
<%- end -%>
