<%- if ctx.ff? and ctx.query and !ctx.link -%>
  <%- form_tag({:action => 'list'}) do -%>
    <p><%= search_form %></p>
    <p><%= search_drilldown_links %></p>
    <p>permalink: <%= link_to(h(url_for(search_opt(:only_path => false))), search_opt) %></p>
  <%- end -%>
<%- elsif !(ctx.pin? and !ctx.in_reply_to_screen_name) -%>
  <%- form_tag({:action => 'add'}) do -%>
    <p><%= post_entry_form %></p>
  <%- end -%>
  <%= render :partial => 'profile', :locals => {:profile => @profile} if ctx.profile_for %>
  <%- if ctx.ff? -%>
    <%- if feed = ctx.list_for || ctx.user_for || ctx.room_for -%>
      <p>Best of: <%= best_of_links(feed) %></p>
    <%- elsif ctx.is_summary? -%>
      <p>Best of: <%= best_of_links(ctx.feed) %></p>
    <%- end -%>
    <%- if ctx.link -%>
      <p>entries related to: <%= link_to(h(ctx.link), u(ctx.link)) %></p>
    <%- end -%>
  <%- end -%>
<%- end -%>
<div class="listings">
  <p><%= h(viewname) %></p>
  <%- @threads.each do |thread| -%>
    <hr class="separator" />
    <div class="<%= cycle('thread1', 'thread2') %>">
      <div class="entry">
        <div class="header">
          <%- if thread.twitter_thread -%>
            <%= span('thread', :footnote) %>
          <%- else -%>
            <%= author_link(thread.root) %> <%= to(thread.root) %>
            <span class="comment"><%= via(thread.root) %><%= twitter_reply_to(thread.root) %><%= retweet_rel_link(thread.root) %></span>
          <%- end -%>
        </div>
        <%= render :partial => 'entry', :locals => {:entry => thread.root, :thread => thread } %>
      </div>
      <%- unless thread.related_entries.empty? -%>
        <% thread.related_entries.each do |entry| -%>
          <div class="related<%= ' tweets' if thread.twitter_thread and !entry.tweet? %>">
            <%- if fold_item?(entry) -%>
              <%= fold_link(entry) %>
            <%- else -%>
              <%= render :partial => 'entry', :locals => {:entry => entry, :thread => thread } %>
            <%- end -%>
          </div>
        <%- end -%>
      <%- end -%>
    </div>
  <%- end -%>
  <%= "<hr />" if i_mode? -%>
  <%- if @threads.size == 0 -%>
    <hr class="separator" />
    <div class="thread1">
      <%- if ctx.pin? -%>
        <p>No Starred entries. Click <%= icon_tag(:pin) %> for Star in other view.</p>
      <%- elsif ctx.inbox -%>
        <p>No unread entry in this page.</p>
      <%- else -%>
        <p>No feed is good feed.</p>
      <%- end -%>
    </div>
  <%- end -%>
  <div class="menu-links page-links-bottom"><%= page_links(:for_bottom => true, :threads => @threads) %></div>
</div>
<p>
  <a name="bottom">Menu:</a>
  <%= common_menu %>
</p>
<%= render :partial => 'common' %>
<%- if ctx.list_base? -%>
  <hr />
  <p><%= feed_subscriptions_friend %></p>
  <p><%= feed_subscriptions_user %></p>
  <p><%= feed_subscriptions_group %></p>
<%- end -%>
