<%= pin_link(entry) -%>
<%- if entry.orphan -%>
<%= published(entry) -%>
  (Entry not found; deleted?)
<%- else -%>
<%= author_picture(entry) if !root or (root.origin_nickname != entry.origin_nickname) -%>
<%= author_link(entry) if root.nil? or root.user_id != entry.user_id %>
<%= icon(entry) unless entry.same_feed?(root) -%>
  <%= original_link(entry) -%>
<%= content(entry) %>
 <%= via(entry) %>
<%= published(entry, true) -%>
<%- if comment_inline?(entry) -%>
  -- <span class="comment"><%= inline_comment(entry.comments.first) %></span>
<%- end -%>
<%= likes(entry, true) -%>
<%= url_link(entry) -%>
<%= reshare_link(entry) -%>
<%= like_link(entry) -%>
  <%- comments = fold_comments(entry.comments) -%>
  <%- if comments.empty? or comment_inline?(entry) or (comments.size == 1 and fold_item?(comments.first))-%>
<%= post_comment_link(entry, :show_comments_number => true) %>
  <%- else -%>
    <ul class="comment">
      <%- comments.each do |comment| -%>
        <%- if comment.respond_to?(:fold_entries) -%>
          <li><%= fold_comment_link(comment) %></li>
        <%- else -%>
          <li>
            <%= comment_icon(comment) %>
            <%= comment(comment) %> <%= comment_author_link(comment) %> <%= via(comment) %>
<%= comment_date(comment, true) unless comment.posted_with_entry? -%>
<%= comment_url_link(comment) -%>
<%= post_comment_link(comment.entry) if comment.last? %>
          </li>
        <%- end -%>
      <%- end -%>
    </ul>
  <%- end -%>
<%- end -%>
