<%- if entry.orphan -%>
<%= pin_link(entry) -%>
<%= published(entry) -%>
  (Entry not found; deleted?)
<%- else -%>
  <div class="header">
    <%= author_link(entry) %> <%= to(entry) %>
    <%= published(entry, true) -%><%= friend_of(entry) -%>
    <span class="comment"><%= via(entry) %></span>
    <%= service_icon(entry) -%>
  </div>
  <div class="body">
    <%= pin_link(entry) -%>
    <%- if twitter_thread -%>
<%= author_link(entry, false) %>
    <%- end -%>
<%= content(entry) %>
<%- if comment_inline?(entry) -%>
  -- <span class="comment"><%= inline_comment(entry.comments.first) %></span>
<%- end -%>
  <%= friends_likes(entry) -%>
  <%= reshare_link(entry) -%>
  <%- comments = fold_comments(entry.comments) -%>
  <%- if comments.empty? or comment_inline?(entry) or (comments.size == 1 and fold_item?(comments.first))-%>
  <%= retweet_link(entry) -%>
  <%= post_comment_link(entry) %>
    </div>
  <%- else -%>
    </div>
    <%= comments(entry.id, comments) %>
  <%- end -%>
<%- end -%>
