<%- cache_profile(@threads) -%>
<%- if ctx.query and !ctx.link -%>
  <%- form_tag({:action => 'list'}) do -%>
    <p><%= search_form %></p>
    <p><%= search_drilldown_links %></p>
    <p>permalink: <%= link_to(h(url_for(search_opt(:only_path => false))), search_opt) %></p>
  <%- end -%>
<%- else -%>
  <%- form_tag({:action => 'add'}) do -%>
    <p><a name="top"></a><%= post_entry_form %></p>
  <%- end -%>
  <%- if ctx.user_for -%>
    <p><%= user_picture(ctx.user_for) %><%= user_status_icon(ctx.user_for) %> <%= h(user_name(ctx.user_for)) %> <%= link_to(h('[profile]'), '#profile') %></p>
  <%- end -%>
  <%- if ctx.room_for -%>
    <p><%= room_picture(ctx.room_for) %><%= room_status_icon(ctx.room_for) %> <%= h(room_name(ctx.room_for)) %> <%= link_to(h('[profile]'), '#profile') %></p>
  <%- end -%>
  <%- if ctx.list -%>
    <p>List: '<%= list_name(ctx.list) %>' <%= link_to(h('[profile]'), '#profile') %></p>
  <%- end -%>
  <%- if ctx.link -%>
    <p>entries related to: <%= link_to(h(ctx.link), u(ctx.link)) %></p>
  <%- end -%>
<%- end -%>
<%- form_tag(link_action('archive')) do -%>
  <p><a name="top"></a><%= page_links(:for_top => true, :threads => @threads) %></p>
<%- end -%>
<div class="listings">
  <%- if link = geo_markers_link(@threads) -%>
    <p>
      Following list includes geo entries:<br />
      <ul><li><%= link %></li></ul>
    </p>
  <%- end -%>
  <%- @threads.each do |thread| -%>
    <%= "<hr />" if i_mode? -%>
    <div class="<%= cycle('thread1', 'thread2') %>">
      <%= render :partial => 'entry', :locals => {:entry => thread.root, :root => nil} %>
      <%- remember_checked(thread.root) -%>
      <%- unless thread.related_entries.empty? -%>
        <ul>
          <li><%= icon_tag(:related) %> <%= thread.related_entries.size %> related entries</li>
          <% thread.related_entries.each do |entry| -%>
            <%- if fold_item?(entry) -%>
              <%= fold_link(entry) %>
            <%- else -%>
              <li><%= render :partial => 'entry', :locals => {:entry => entry, :root => thread.root} %></li>
              <%- remember_checked(entry) -%>
            <%- end -%>
          <%- end -%>
        </ul>
      <%- end -%>
    </div>
  <%- end -%>
  <%= "<hr />" if i_mode? -%>
  <%- if @threads.size == 0 -%>
    <%- if ctx.label == 'pin' -%>
      <p>No pinned entries. Click <%= icon_tag(:pin) %> for pinning the entry in other view.</p>
    <%- else -%>
      <p>No feed is good feed.</p>
    <%- end -%>
  <%- end -%>
</div>
<%- form_tag(link_action('archive')) do -%>
  <p><a name="bottom"></a><%= page_links(:for_bottom => true, :threads => @threads) %></p>
<%- end -%>
<%- if ctx.user_for -%>
  <p><%= render :partial => 'profile', :locals => {:user => ctx.user_for} %></p>
<%- elsif ctx.room_for -%>
  <p><%= render :partial => 'room', :locals => {:room => ctx.room_for} %></p>
<%- elsif ctx.list -%>
  <p><%= render :partial => 'list', :locals => {:list => ctx.list} %></p>
<%- end -%>
<%- if !ctx.user_only? -%>
  <hr />
  <p><a name="filter">[Filter]</a></p>
  <p><%= user_page_links(auth.name) %></p>
  <p><%= list_links %></p>
<%- end -%>
<script type='text/javascript'><!--
document.getElementById('first_link').focus();
//--></script>
