<%- if entry.orphan -%>
<%= pin_link(entry) -%>
<%= published(entry) -%>
  (Entry not found; deleted?)
<%- else -%>
  <div class="body">
    <%= pin_link(entry) -%>
    <%- if thread.twitter_thread or entry.from_id != thread.root.from_id -%>
<%= author_link(entry, false) %>
    <%- end -%>
    <%- if thread.twitter_thread or entry.to_ids != thread.root.to_ids -%>
      <%= to(entry) %>
    <%- end -%>
<%= content(entry) %>
    <%= published(entry, true) -%>
    <span class="comment"><%= via(entry) %><%= twitter_reply_to(entry) %><%= retweet_rel_link(entry) %></span>
<%- if comment_inline?(entry) -%>
  -- <span class="comment"><%= inline_comment(entry.comments.first) %></span>
<%- end -%>
  <%= friends_likes(entry) -%>
  <%= reshare_link(entry) -%>
  <%- comments = fold_comments(entry.comments) -%>
  <%- if comments.empty? or comment_inline?(entry) or (comments.size == 1 and fold_item?(comments.first))-%>
  <%= retweet_link(entry) -%>
  <%= post_comment_link(entry) %>
    </div>
  <%- else -%>
    </div>
    <%= comments(entry.id, comments) %>
  <%- end -%>
<%- end -%>
