<%- if entry.orphan -%>
<%= pin_link(entry) -%>
<%= published(entry) -%>
  (Entry not found; deleted?)
<%- else -%>
<%- if root.nil? -%>
<%= author_picture(entry) -%><%= author_link(entry) %> <%= to(entry) %>
  <%= published(entry, true) -%>
  <%= service_icon(entry) -%>
  <%= friends_likes(entry) -%><br />
<%= pin_link(entry) -%>
<%- elsif !entry.same_feed?(root) and root.origin_id != entry.origin_id -%>
<%= pin_link(entry) -%>
<%= author_picture(entry) -%><%= author_link(entry) -%> <%= to(entry) %>
<%- else -%>
<%= pin_link(entry) -%>
<%- end -%>
<%= content(entry) %> <span class="comment"><%= via(entry) %></span>
<%= published(entry, true) unless root.nil? -%>
<%- if comment_inline?(entry) -%>
  -- <span class="comment"><%= inline_comment(entry.comments.first) %></span>
<%- end -%>
  <%= like_link(entry) -%>
  <%= reshare_link(entry) -%>
  <%= friends_likes(entry) unless root.nil? -%>
  <%- comments = fold_comments(entry.comments) -%>
  <%- if comments.empty? or comment_inline?(entry) or (comments.size == 1 and fold_item?(comments.first))-%>
  <%= post_comment_link(entry) %>
  <%- else -%>
    <div class="comment comment-block">
      <%- comments.each do |comment| -%>
        <%- if comment.respond_to?(:fold_entries) -%>
          <%= fold_comment_link(comment) %>
        <%- else -%>
          <%= comment_icon(comment) %><span class="comment-body"><%= comment(comment) %> <%= comment_author_link(comment) %> <%= via(comment) %>
<%= comment_date(comment, true) unless comment.posted_with_entry? -%>
<%= comment_url_link(comment) -%>
  <%= comment_link(comment) -%></span>
        <%- end -%>
        <br />
      <%- end -%>
    </div>
  <%- end -%>
<%- end -%>
