<%- if ctx.query and !ctx.link -%>
  <%- form_tag({:action => 'list'}) do -%>
    <p><%= search_form %></p>
    <p><%= search_drilldown_links %></p>
    <p>permalink: <%= link_to(h(url_for(search_opt(:only_path => false))), search_opt) %></p>
  <%- end -%>
<%- else -%>
  <%- form_tag({:action => 'add'}) do -%>
    <p><%= post_entry_form %></p>
  <%- end -%>
  <%- if ctx.profile_for -%>
    <p><%= picture_link(ctx.profile_for) %> <%= feed_name_with_icon %> <%= h(subscribe_status) %> <%= profile_link(ctx.profile_for) %></p>
  <%- end -%>
  <%- if feed = ctx.list_for || ctx.user_for || ctx.room_for -%>
    <p>Best of: <%= best_of_links(feed) %></p>
  <%- elsif ctx.is_summary? -%>
    <p>Best of: <%= best_of_links(ctx.feed) %></p>
  <%- end -%>
  <%- if ctx.link -%>
    <p>entries related to: <%= link_to(h(ctx.link), u(ctx.link)) %></p>
  <%- end -%>
<%- end -%>
<%- form_tag(link_action('archive')) do -%>
  <p>
    <%= page_links(:for_top => true, :threads => @threads) %>
  </p>
<%- end -%>
<div class="listings">
  <%- if link = geo_markers_link(@threads) -%>
    <div class="entry">
      <p>
        Following list includes geo entries:<br />
        &nbsp;&nbsp;&nbsp;<%= link %>
      </p>
    </div>
  <%- end -%>
  <%- @threads.each do |thread| -%>
    <hr class="separator" />
    <div class="<%= cycle('thread1', 'thread2') %>">
      <div class="entry">
        <%= render :partial => 'entry', :locals => {:entry => thread.root, :root => nil, :twitter_thread => thread.twitter_thread} %>
      </div>
      <%- remember_checked(thread.root) -%>
      <%- unless thread.related_entries.empty? -%>
        <% thread.related_entries.each do |entry| -%>
          <div class="related">
            <%- if fold_item?(entry) -%>
              <%= fold_link(entry) %>
            <%- else -%>
            <%= render :partial => 'entry', :locals => {:entry => entry, :root => thread.root, :twitter_thread => thread.twitter_thread} %>
              <%- remember_checked(entry) -%>
            <%- end -%>
          </div>
        <%- end -%>
      <%- end -%>
    </div>
  <%- end -%>
  <%= "<hr />" if i_mode? -%>
  <%- if @threads.size == 0 -%>
    <%- if ctx.label == 'pin' -%>
      <p>No pinned entries. Click <%= icon_tag(:pin) %> for pinning the entry in other view.</p>
    <%- else -%>
      <p>No feed is good feed.</p>
    <%- end -%>
  <%- end -%>
</div>
<%- form_tag(link_action('archive')) do -%>
  <p><%= page_links(:for_bottom => true, :threads => @threads) %></p>
<%- end -%>
<%- if ctx.inbox -%>
  <p><%= all_link %></p>
<%- end -%>
<hr />
<p>
  <a name="bottom">Menu:</a>
  <%= common_menu %>
</p>
<%= render :partial => 'common' %>
<%- if ctx.list_base? -%>
  <hr />
  <p><%= feed_subscriptions_friend %></p>
  <p><%= feed_subscriptions_user %></p>
  <p><%= feed_subscriptions_group %></p>
<%- end -%>
