<%- if entry.orphan -%>
<%= pin_link(entry) -%>
<%= published(entry) -%>
  (Entry not found; deleted?)
<%- else -%>
<%- if root.nil? -%>
  <div class="header">
<%= author_link(entry) %> <%= to(entry) %>
    <%= published(entry, true) -%>
    <span class="comment"><%= via(entry) %></span>
    <%= service_icon(entry) -%>
  </div>
  <div class="body">
    <%= pin_link(entry) -%>
<%- else -%>
  <div class="body">
    <%= pin_link(entry) -%>
    <%- if !twitter_thread and entry.from_id != root.from_id -%>
<%= author_link(entry) %>
    <%- end -%>
    <%- if entry.to_ids != root.to_ids -%>
      <%= to(entry) %>
    <%- end -%>
<%- end -%>
<%= content(entry) %>
<%- if twitter_thread and root -%>
  by <%= author_link(entry) %>
<%- elsif root -%>
  <span class="comment"><%= via(entry) %></span>
<%- end -%>
<%= published(entry, true) unless root.nil? -%>
  <%= service_icon(entry) if root and entry.service_id != root.service_id -%>
<%- if comment_inline?(entry) -%>
  -- <span class="comment"><%= inline_comment(entry.comments.first) %></span>
<%- end -%>
  <%= like_link(entry) -%>
  <%= reshare_link(entry) -%>
  <%= friends_likes(entry) -%>
  <%- comments = fold_comments(entry.comments) -%>
  <%- if comments.empty? or comment_inline?(entry) or (comments.size == 1 and fold_item?(comments.first))-%>
  <%= post_comment_link(entry) %>
    </div>
  <%- else -%>
    </div>
    <div class="comment-block">
      <%- comments.each do |comment| -%>
        <%- if comment.respond_to?(:fold_entries) -%>
          <div class="comment comment-fold">
            <%= fold_comment_link(comment) %>
          </div>
        <%- else -%>
          <div class="comment comment-body">
            <%= comment_icon(comment) %><%= comment(comment) %> <%= comment_author_link(comment) %> <%= via(comment) %>
<%= comment_date(comment, true) unless comment.posted_with_entry? -%>
<%= comment_url_link(comment) -%>
            <%= comment_link(comment) -%>
          </div>
        <%- end -%>
      <%- end -%>
    </div>
  <%- end -%>
<%- end -%>
