<p><a name="top"></a></p>
<div class="listings">
<%- if @threads.first && entry = @threads.first.root -%>
  <div class="thread2">
    <div class="title-header">
      <p>
        <%= author_picture(entry) -%>
        <%= icon(entry) -%><%= icon_extra(entry) -%>
        <%= author_link(entry) %>
        <%= published(entry, false) %>
      </p>
      <p>
        <%= pin_link(entry) %>
        <%= url_link(entry) %>
        <%= reshare_link(entry) %>
        <%= hide_link(entry) %>
        <%= like_link(entry) %>
        <%= delete_link(entry) %>
      </p>
    </div>
    <div class="title">
      <p>
<%= original_link(entry) -%>
<%= content(entry) -%>
  <%= via(entry) -%>
      </p>
    </div>
  </div>
  <%- form_tag({:action => 'add_comment', :id => u(entry.id), :comment => ctx.comment ? u(ctx.comment) : nil}, {:name => 'post'}) do -%>
    <%- entry.comments.each do |comment| -%>
      <div class="comment">
        <p>
          <%= comment_icon(comment) %>
          <%- if ctx.comment != comment.id -%>
            <%= comment(comment) %> <%= comment_author_link(comment) %> <%= via(comment) %>
            <%= date(comment.date, false) %>
<%= comment_url_link(comment) -%>
<%= edit_comment_link(comment) -%>
<%= delete_comment_link(comment) -%>
          <%- else -%>
            <%= edit_comment_form(comment) %>
          <%- end -%>
        </p>
      </div>
    <%- end -%>
    <%- if ctx.comment.nil? -%>
      <div class="comment">
        <%= comment_icon %>
        <%= post_comment_form(entry) %>
      </div>
      <script type='text/javascript'><!--
      post.body.focus();
      //--></script>
    <%- end -%>
    <p class="likes">
      <%= likes(entry) -%>
    </p>
  <%- end -%>
  <%- commit_checked_modified(entry) -%>
<%- else -%>
  <p>No feed is good feed.</p>
<%- end -%>
</div>
<hr />
<p><a name="bottom"></a><%= page_links(:for_bottom => true, :threads => @threads) %></p>
<%- if next_entry = next_entry(entry.id) -%>
  <p>
    <%= icon_tag(:next) %>Next<br />
    <%= link_to_next_entry(next_entry) %><br />
    from
    <%= icon(next_entry) %><%= icon_extra(next_entry) %>
    <%= author_link(next_entry) %>
  </p>
  <p>
    <%- if entry.view_pinned -%>
      <%= link_to(h('Unpin this and Go Next'), link_show(next_entry.id, :unpin => entry.id)) %><br />
    <%- else -%>
      <%= link_to(h('Pin this and Go Next'), link_show(next_entry.id, :pin => entry.id)) %><br />
    <%- end -%>
    <%= link_to(h('Back'), :controller => 'entry') %>
  </p>
<%- else -%>
  <p>
    <%= link_to(icon_tag(:previous) + h('Back'), :controller => 'entry') %>
  </p>
<%- end -%>
<%- if !ctx.user_only? -%>
  <hr />
  <p><a name="filter">[Filter]</a></p>
  <p><%= user_page_links(auth.name) %></p>
  <p><%= list_links %></p>
<%- end -%>
