<div class="single">
  <%- if @threads.first && entry = @threads.first.root -%>
    <div class="header">
      <%= pin_link(entry) %>
      <%= author_link(entry) %>
      <%= to(entry) -%>
      <%= published(entry, false) %>
      <%= service_icon(entry) -%>
    </div>
    <div class="body">
      <%- if ctx.moderate -%>
        <%- form_tag({:action => 'update', :eid => entry.id}, {:name => 'post'}) do -%>
          <%= edit_entry_form(entry, @body) -%>
          <%- if ctx.moderate == 'geo' -%>
            <%= hidden_field_tag('eid', @ctx.eid) %>
            <%= hidden_field_tag('moderate', @ctx.moderate) %>
            <p>For editing location info:</p>
            <%= render :partial => 'address' %>
          <%- end -%>
        <%- end -%>
        <script type='text/javascript'><!--
        post.body.focus();
        //--></script>
      <%- else -%>
<%= content(entry) -%>
<%- if str = via(entry) -%>
<br /><span class="comment"><%= str %></span>
<%- end -%>
      <%- end -%>
    </div>
    <%- form_tag({:action => 'add_comment', :eid => entry.id, :comment => ctx.comment ? ctx.comment : nil}, {:name => 'post'}) do -%>
      <%- entry.comments.each do |comment| -%>
        <div class="comment comment-body">
          <%- if ctx.comment != comment.id -%>
            <%= comment_icon(comment) %><%= comment(comment) %> <%= comment_author_link(comment) %> <%= via(comment) %>
            <%= date(comment.date, false) %>
<%= edit_comment_link(comment) -%>
<%= delete_comment_link(comment) -%>
          <%- else -%>
            <%= comment_icon(comment) %><%= edit_comment_form(comment) %>
          <%- end -%>
        </div>
      <%- end -%>
      <%- if ctx.comment.nil? and !ctx.moderate -%>
        <%= comment_icon %><%= post_comment_form(entry) %>
        <script type='text/javascript'><!--
        post.body.focus();
        //--></script>
      <%- end -%>
      <div class="likes">
        <%= likes(entry) -%>
      </div>
    <%- end -%>
    <div class="entry-menu">
      <%= original_link(entry) %>
    </div>
    <%- if ctx.comment.nil? -%>
      <div class="entry-menu">
        <%= like_link(entry) %>
        <%= moderate_link(entry) %>
        <%= locate_link(entry) %>
        <%= hide_link(entry) %>
        <%= delete_link(entry) %>
        <%= reshare_link(entry) %>
        <%= url_link(entry) %>
      </div>
    <%- end -%>
    <%- commit_checked_modified(entry) -%>
  <%- else -%>
    <p>No feed is good feed.</p>
  <%- end -%>
</div>
<%- if next_entry = next_entry(entry) -%>
  <p>
    Next: <%= link_to_next_entry(next_entry) %><br />
    &nbsp;&nbsp;from <%= author_link(next_entry, false) %>
  </p>
  <p>
    <%- if entry.view_pinned -%>
      <%= link_to(h('Unpin this and Go Next'), link_show(next_entry.id, :unpin => entry.id)) %><br />
    <%- else -%>
      <%= link_to(h('Pin this and Go Next'), link_show(next_entry.id, :pin => entry.id)) %><br />
    <%- end -%>
  </p>
<%- elsif opt = link_opt_for_next_page -%>
  <p>
    Next: <%= link_to(h('go top of the next page'), opt) %>
  </p>
  <p>
    <%- if entry.view_pinned -%>
      <%= link_to(h('Unpin this and Go Next'), opt.merge(:unpin => entry.id)) %><br />
    <%- else -%>
      <%= link_to(h('Pin this and Go Next'), opt.merge(:pin => entry.id)) %><br />
    <%- end -%>
  </p>
<%- elsif entry -%>
  <p>
    <%- if entry.view_pinned -%>
      <%= link_back('Unpin this and Back', :controller => 'entry', :unpin => entry.id) %><br />
    <%- else -%>
      <%= link_back('Pin this and Back', :controller => 'entry', :pin => entry.id) %><br />
    <%- end -%>
  </p>
<%- end -%>
  <p>
    <%= link_back('Back') %>
  </p>
<hr />
<p>
  <a name="bottom">Menu:</a>
  <%= common_menu %>
</p>
<%= render :partial => 'common' %>
