<p><a name="top"></a><%= page_links(:for_top => true) %></p>
<div class="listings">
<%- if threads = @entries.first -%>
  <%- entry = threads.root -%>
  <div class="<%= cycle('thread1', 'thread2') %>">
    <p>
<%= pin_link(entry) -%>
<%= icon(entry) -%>
 <%= author_link(entry) %>
<%= published(entry, false) -%>
<%= original_link(entry) -%>
<%= content(entry) -%>
 <%= via(entry) %>
<%= likes(entry, false) -%>
<%= comments(entry, false) -%>
<%= url_link(entry) -%>
<%= reshare_link(entry) -%>
<%= like_link(entry) -%>
<%= delete_link(entry) -%>
      <%- form_tag({:action => 'add_comment', :id => u(entry.id), :comment => ctx.comment ? u(ctx.comment) : nil}, {:name => 'post'}) do -%>
        <ul class="comment">
          <%- entry.comments.each do |comment| -%>
            <li>
              <%= comment_icon(comment.by_user(comment.entry.nickname)) %>
              <%= date(comment.date, false) %>
              <%- if ctx.comment != comment.id -%>
                <%= comment(comment) %> by <%= user(comment) %> <%= via(comment) %>
<%= comment_url_link(comment) -%>
<%= edit_comment_link(comment) -%>
<%= delete_comment_link(comment) -%>
              <%- else -%>
                <%= edit_comment_form(comment) %>
              <%- end -%>
            </li>
          <%- end -%>
        </ul>
        <%- if ctx.comment.nil? -%>
          <%= comment_icon(entry.nickname == auth.name) %>
          <%= post_comment_form(entry) %>
        <%- end -%>
        <script type='text/javascript'><!--
        post.body.focus();
        //--></script>
      <%- end -%>
    </p>
  </div>
<%- else -%>
  <p>No feed is good feed.</p>
<%- end -%>
</div>
<p><a name="bottom"></a><%= page_links(:for_bottom => true) %></p>
