<p><a name="top"></a><%= page_links(:for_top => true, :threads => @threads) %></p>
<div class="listings">
<%- if @threads.first && entry = @threads.first.root -%>
  <p>
    <div class="thread1">
<%= pin_link(entry) -%>
<%= author_picture(entry) -%>
<%= author_link(entry) %>
<%= icon(entry) -%>
 <%= published(entry, false) %>
<%= original_link(entry) -%>
<%= content(entry) -%>
 <%= via(entry) %>
<%= likes(entry, false) -%>
<%= url_link(entry) -%>
<%= reshare_link(entry) -%>
<%= like_link(entry) -%>
<%= delete_link(entry) -%>
    </div>
    <%- form_tag({:action => 'add_comment', :id => u(entry.id), :comment => ctx.comment ? u(ctx.comment) : nil}, {:name => 'post'}) do -%>
      <ul class="comment">
        <%- entry.comments.each do |comment| -%>
          <div class="<%= cycle('thread2', 'thread1') %>">
            <li>
              <%= comment_icon(comment) %>
              <%= date(comment.date, false) %>
              <%- if ctx.comment != comment.id -%>
                <%= comment(comment) %> <%= comment_author_link(comment) %> <%= via(comment) %>
<%= comment_url_link(comment) -%>
<%= edit_comment_link(comment) -%>
<%= delete_comment_link(comment) -%>
              <%- else -%>
                <%= edit_comment_form(comment) %>
              <%- end -%>
            </li>
          </div>
        <%- end -%>
      </ul>
      <%- if ctx.comment.nil? -%>
        <div class="<%= cycle('thread2', 'thread1') %>">
          <%= comment_icon %>
          <%= post_comment_form(entry) %>
        </div>
      <%- end -%>
    <%- end -%>
  </p>
  <%- commit_checked_modified(entry) -%>
<%- else -%>
  <p>No feed is good feed.</p>
<%- end -%>
</div>
<p><a name="bottom"></a><%= page_links(:for_bottom => true, :threads => @threads) %></p>
<%- if next_entry = next_entry(entry.id) -%>
  <hr />
  <p>
    <%= icon_tag(:next) %> <%= menu_label('next', '5') %><br />
    <%= link_to_next_entry(next_entry) %><br />
    from <%= author_link(next_entry) %><%= icon(next_entry) %>
  </p>
<%- end -%>
<%- if !ctx.user_only? -%>
  <hr />
  <p><a name="filter">[Filter]</a></p>
  <p><%= user_page_links(auth.name) %></p>
  <p><%= list_links %></p>
<%- end -%>
