<div class="listings">
  <div class="single-entry">
  <%- if @threads.first && entry = @threads.first.root -%>
    <div class="title-header">
      <p>
        <%= author_picture(entry) -%>
        <%= pin_link(entry) %>
        <%= author_link(entry) %>
        <%= to(entry) -%>
        <%= published(entry, false) %>
        <%= service_icon(entry) -%>
      </p>
    </div>
    <div class="title">
      <p>
        <%- if ctx.moderate -%>
          <%- form_tag({:action => 'update', :eid => entry.id}, {:name => 'post'}) do -%>
            <%= edit_entry_form(entry) -%>
          <%- end -%>
          <script type='text/javascript'><!--
          post.body.focus();
          //--></script>
        <%- else -%>
<%= content(entry) -%> <span class="comment"><%= via(entry) %></span>
        <%- end -%>
      </p>
    </div>
    <%- form_tag({:action => 'add_comment', :eid => entry.id, :comment => ctx.comment ? ctx.comment : nil}, {:name => 'post'}) do -%>
      <div class="comment comment-block">
        <%- entry.comments.each do |comment| -%>
          <p>
            <%- if ctx.comment != comment.id -%>
              <%= comment_icon(comment) %><%= comment(comment) %> <%= comment_author_link(comment) %> <%= via(comment) %>
              <%= date(comment.date, false) %>
<%= edit_comment_link(comment) -%>
<%= delete_comment_link(comment) -%>
            <%- else -%>
              <%= comment_icon(comment) %><%= edit_comment_form(comment) %>
            <%- end -%>
          </p>
        <%- end -%>
        <%- if ctx.comment.nil? and !ctx.moderate -%>
          <%= comment_icon %><%= post_comment_form(entry) %><br />
          <script type='text/javascript'><!--
          post.body.focus();
          //--></script>
        <%- end -%>
        <p class="likes">
          <%= likes(entry) -%>
        </p>
        <%- if ctx.comment.nil? -%>
          <p>
            <%= like_link(entry) %>
            <%= moderate_link(entry) %>
            <%= hide_link(entry) %>
            <%= delete_link(entry) %>
            <%= reshare_link(entry) %>
            <%= url_link(entry) %>
          </p>
        <%- end -%>
      </div>
    <%- end -%>
    <%- commit_checked_modified(entry) -%>
  <%- else -%>
    <p>No feed is good feed.</p>
  <%- end -%>
  </div>
</div>
<p>
  <%= original_link(entry) %>
</p>
<%- if next_entry = next_entry(entry) -%>
  <p>
    Next: <%= link_to_next_entry(next_entry) %>
    from <%= author_link(next_entry) %> <%= to(next_entry) -%>
  </p>
  <p>
    <%- if entry.view_pinned -%>
      <%= link_to(h('Unpin this and Go Next'), link_show(next_entry.id, :unpin => entry.id)) %><br />
    <%- else -%>
      <%= link_to(h('Pin this and Go Next'), link_show(next_entry.id, :pin => entry.id)) %><br />
    <%- end -%>
  </p>
<%- elsif entry -%>
  <p>
    <%- if entry.view_pinned -%>
      <%= link_to(h('Unpin this and Back'), :controller => 'entry', :unpin => entry.id) %><br />
    <%- else -%>
      <%= link_to(h('Pin this and Back'), :controller => 'entry', :pin => entry.id) %><br />
    <%- end -%>
  </p>
<%- end -%>
  <p>
    <%= link_to(h('Back'), :controller => 'entry') %>
  </p>
<hr />
<p><a name="bottom">Menu:</a>
<p><%= common_menu %></p>
<hr />
<p><a name="filter">Filter:</a></p>
<p>My: <%= user_page_links %></p>
<p>Lists: <%= list_links %></p>
<p>Searches: <%= saved_search_links %></p>
