<body onLoad="body.focus()">
  <h1><%= link_to(appname, :action => 'list') %> entries</h1>
  <% if flash[:deleted_id] %>
  <p><%= undelete_link(flash[:deleted_id], flash[:deleted_comment]) %></p>
  <% end %>
  <% if @post %>
    <% form_tag(:action => 'add') do %>
    <p><%= post_entry_form %> <%= logout_link %></p>
    <% end %>
  <% end %>
  <p><%= page_links %></p>
  <div class="listings">
    <ul>
      <% all = display_entries(@entries, @entry_fold) %>
      <% while !all.empty? %>
        <% entry = all.shift %>
        <%= render :partial => 'entry', :locals => {:entry => entry, :rest => all, :cascade => false} %>
      <% end %>
    </ul>
  </div>
  <p><%= page_links %></p>
</body>
