<html>
  <head>
    <title><%= appname %> entries</title>
    <style type="text/css">
      body { font-size: 8pt; }
      a img { border: none; }
      p.error { color: red; }
      .latest1 { color: #FF0000; }
      .latest2 { color: #C00000; }
      .latest3 { color: #800000; }
    </style>
  </head>
  <body>
    <h1><%= link_to(appname, :action => 'list') %> entries</h1>
    <% if flash[:deleted_id] %>
      <p><%= undelete_link(flash[:deleted_id], flash[:deleted_comment]) %></p>
    <% end %>
    <% if @post %>
      <% form_tag(:action => 'add') do %>
        <p><%= post_comment_form %> <%= logout_link %></p>
      <% end %>
    <% end %>
    <%= page_links %>
    <ul>
      <%
      (@entry_fold ? fold(@entries) : @entries).each do |entry|
        if entry.respond_to?(:fold_entries)
      %>
      <ul>
        <li><%= link_to(h("#{entry.fold_entries} entrie(s) from same service"), list_opt(:action => 'list', :start => @start, :num => @num, :fold => 'no')) %></li>
      </ul>
      <%
          next
        end
        next if v(entry, 'hidden')
      %>
        <li>
          <%= icon(entry) %>
          <%= published(entry, @compact) %>
          <%= user(entry) %>@<%= service(entry) %>:
          <%= content(entry) %>
          <%= via(entry) %>
          <%= likes(entry) %>
          <%= delete_link(entry) %>
          <% comments = v(entry, 'comments') %>
          <% if comments and !comments.empty? %>
            <ul>
              <% if @compact and comments.size > 4 %>
                <li><%= link_to("#{comments.size - 3} more comment(s)", :action => 'show', :id => u(v(entry, 'id'))) %></li>
                <% comments = comments[-3, 3] %>
              <% end %>
              <% comments.each do |c| %>
                <li>
                  <%= date(v(c, 'date'), @compact) %></a>
                  <%= comment(c) %>
                  by <%= user(c) %>
                  <%= via(c) %>
                  <%= delete_comment_link(entry, c) %>
                  <%= post_comment_link(entry) if !@post_comment and c == comments.last %>
                </li>
              <% end %>
            </ul>
          <% else %>
            <%= post_comment_link(entry) unless @post_comment %>
          <% end %>
          <% if @post_comment %>
            <% form_tag(:action => 'add_comment', :id => u(@eid)) do %>
              <p>
              <%= text_field_tag('body') %> <%= submit_tag('post') %>
              </p>
            <% end %>
          <% end %>
        </li>
      <% end %>
    </ul>
    <%= page_links %>
  </body>
</html>
