<%- if flash[:deleted_id] -%>
  <p class="message"><%= undo_delete_link(flash[:deleted_id], flash[:deleted_comment]) %></p>
<%- elsif flash[:added_comment] -%>
  <p class="message"><%= undo_add_comment_link(flash[:added_id], flash[:added_comment]) %></p>
<%- elsif flash[:added_id] -%>
  <p class="message"><%= undo_add_link(flash[:added_id]) %></p>
<%- end -%>
<%- if flash[:message] -%>
  <p class="message"><%=h flash[:message] %></p>
<%- end -%>
<%- if ctx.query -%>
  <%- form_tag({:action => 'list'}, {:name => 'post'}) do -%>
    <p><%= search_form %></p>
    <p><%= link_to(h('permalink: ' + url_for(search_opt.merge(:only_path => false))), search_opt) %></p>
  <%- end -%>
  <script type='text/javascript'><!--
  post.query.focus();
  //--></script>
<%- elsif ctx.list? -%>
  <%- form_tag({:action => 'add'}, {:name => 'post'}) do -%>
    <p><%= post_entry_form %></p>
  <%- end -%>
<%- end -%>
<%- if ctx.list? -%>
  <%- if ctx.user_for -%>
    <p><%= user_picture(ctx.user_for) %> <%= h(user_name(ctx.user_for)) %> <%= link_to(h('[profile]'), '#profile') %></p>
    <p><%= user_page_links(ctx.user_for) %></p>
  <%- end -%>
  <%- if ctx.room_for -%>
    <p><%= room_picture(ctx.room_for) %> <%= h(room_name(ctx.room_for)) %> <%= link_to(h('[profile]'), '#profile') %></p>
  <%- end -%>
  <%- if ctx.list -%>
    <p><%= list_links %></p>
  <%- end -%>
  <%- if ctx.room == '*' -%>
    <p><%= room_links(ctx.user) %></p>
  <%- end -%>
<%- end -%>
<p><a name="top"></a><%= page_links(:with_bottom => true) %></p>
<div class="listings">
  <%- @entries.each do |thread| -%>
    <div class="<%= cycle('thread1', 'thread2') %>">
      <p><%= render :partial => 'entry', :locals => {:entry => thread.root, :root_user => nil, :root_service => nil} %></p>
      <%- if thread.chunked? -%>
        <ul>
          <li><%= icon_tag(:related) %> <%= thread.related_entries.size %> related entries</li>
          <% fold_entries(thread.related_entries).each do |entry| -%>
            <li><%= render :partial => 'entry', :locals => {:entry => entry, :root_user => thread.root.user_id, :root_service => thread.root.service_identity} %></li>
          <%- end %>
        </ul>
      <%- end -%>
    </div>
  <%- end -%>
  <%- if @entries.size == 0 -%>
    <p>No feed is good feed.</p>
  <%- end -%>
</div>
<p><a name="bottom"></a><%= page_links(:with_top => true) %></p>
<%- if ctx.list? -%>
  <%- if ctx.user_for -%>
    <p><%= render :partial => 'profile', :locals => {:user => ctx.user_for} %></p>
  <%- end -%>
  <%- if ctx.room_for -%>
    <p><%= render :partial => 'room', :locals => {:room => ctx.room_for} %></p>
  <%- end -%>
<%- end -%>
