<h1><%= link_to(appname, :action => 'list') %> entries at <%= date(Time.now) %></h1>
<%- if flash[:deleted_id] -%>
  <p class="message"><%= undelete_link(flash[:deleted_id], flash[:deleted_comment]) %></p>
<%- end -%>
<%- if flash[:message] -%>
  <p class="message"><%=h flash[:message] %></p>
<%- end -%>
<%- if @search -%>
  <%- form_tag({:action => 'list'}, {:name => 'post'}) do -%>
    <p><%= search_form %> <%= settings_link %> <%= logout_link %></p>
  <%- end -%>
  <script type='text/javascript'><!--
  post.query.focus();
  //--></script>
<%- elsif @post -%>
  <%- form_tag({:action => 'add'}, {:name => 'post'}) do -%>
    <p><%= post_entry_form %> <%= settings_link %> <%= logout_link %></p>
  <%- end -%>
<%- end -%>
<%- if @post -%>
  <%- if @user -%>
    <p><%= service_links(@user) %></p>
  <%- end -%>
  <%- if @list -%>
    <p><%= list_links %></p>
  <%- end -%>
  <%- if @room == '*' -%>
    <p><%= room_links(@user) %></p>
  <%- end -%>
<%- end -%>
<p><%= page_links %></p>
<div class="listings">
  <%- @entries.each do |thread| -%>
    <div class="<%= cycle('thread1', 'thread2') %>">
      <%- if thread.chunked? -%>
        <p>
          <%= icon(thread.root) %>
          <%= updated(thread.entries.last, @compact) %>
          <%= author_link(thread.root, true, true) %>
          <%= thread.entries.size %> entries
        </p>
        <ul>
          <% fold_entries(thread.entries).each do |entry| -%>
            <li><%= render :partial => 'entry', :locals => {:entry => entry, :root_user => thread.root.user_id, :root_service => thread.root.service_identity} %></li>
          <%- end %>
        </ul>
      <%- else -%>
        <p><%= render :partial => 'entry', :locals => {:entry => thread.root, :root_user => nil, :root_service => nil} %></p>
      <%- end -%>
    </div>
  <%- end -%>
  <%- if @entries.size == 0 -%>
    <p>No feed is good feed.</p>
  <%- end -%>
</div>
<p><%= page_links %></p>
<%- if @post and @user -%>
  <hr/>
  <p>
    <a name="subscriptions" id="subscriptions"><%= h(@user) %>'s subscriptions:</a><br/>
    <%= user_links(@user) %>
  </p>
<%- end -%>
<%- if @room and @room != '*' -%>
  <hr/>
  <p>
    <a name="members" id="members"><%= h(@room)%> members:</a><br/>
    <%= member_links(@room) %>
  </p>
<%- end -%>
