<%- if flash[:message] -%>
  <p class="message"><%=h flash[:message] %></p>
<%- end -%>
<%- form_tag({:action => 'add'}, {:name => 'post', :multipart => !@with_form.nil?}) do -%>
  <p>
    Message: <%= text_area_tag('body', @body, :rows => 2) %><br />
    Link: <%= text_field_tag('link', @link) %><br />
    <%= hidden_field_tag('with_form', @with_form) %>
    <%- if @with_form -%>
      image/file upload: <%= file_field_tag('file') %><br />
    <%- else -%>
      <%= link_to(h('image/file upload'), :action => 'new', :with_form => '1') %><br />
    <%- end -%>
    <%= submit_tag 'post' %>
  </p>
  <hr />
  <p>Recipient: (posted to my feed by default)</p>
  <p>
    <%- @to_lines.times do |idx| -%>
      <%= '<br />' if idx != 0 %>
      To: <%= to_select_tag("to_#{idx}", @to[idx]) %>
    <%- end -%>
    <%= hidden_field_tag('to_lines', @to_lines) %>
    <%= submit_tag 'more' %><br />
    CC to my feed: <%= check_box_tag('cc', 'checked', @cc) %>
  </p>
  <hr />
  <p>For posting with location info:</p>
  <%= render :partial => 'address' %>
<%- end -%>
<hr />
<p>
  <a name="bottom">Menu:</a>
  <%= common_menu %>
</p>
<%= render :partial => 'common' %>
<script type='text/javascript'><!--
<%- if @with_form -%>
  post.file.focus();
<%- else -%>
  post.body.focus();
<%- end -%>
//--></script>
