<%- form_tag({:action => 'add'}, {:name => 'post', :multipart => !@with_form.nil?}) do -%>
  <p>
    message: <%= text_field_tag('body', @body) %><br/>
    link: <%= text_field_tag('link', @link) %><br/>
    room: <%= room_select_tag('room', ctx.room) %><br/>
    <%= hidden_field_tag('with_form', @with_form) %>
    <%- if @with_form -%>
      image upload: <%= file_field_tag('file') %><br/>
    <%- else -%>
      <%= link_to(h('image upload [experimental]'), :action => 'new', :with_form => '1') %><br/>
    <%- end -%>
    <%= hidden_field_tag('lat', @lat) %>
    <%= hidden_field_tag('long', @long) %>
    <%= hidden_field_tag('title', @title) %>
    <%= hidden_field_tag('address', @address) %>
    <%= hidden_field_tag('zoom', @zoom) %>
    <%= submit_tag 'post' %>
  </p>
<%- end -%>
<script type='text/javascript'><!--
<%- if @with_form -%>
  post.file.focus();
<%- else -%>
  post.body.focus();
<%- end -%>
//--></script>
<hr/>
<%- form_tag(:action => 'new') do -%>
  <p>
  Address: <%= text_field_tag('title', @title) %> <%= submit_tag 'search' %><br/>
  zoom: <%= zoom_select_tag('zoom', @zoom) %>
  <%= hidden_field_tag('body', @body) %>
  <%= hidden_field_tag('link', @link) %>
  <%= hidden_field_tag('room', ctx.room) %>
  <%= hidden_field_tag('with_form', @with_form) %>
  </p>
  <%- if @placemark -%>
    <%- if @placemark.ambiguous? -%>
      <p>Ambiguous:</p>
      <ul>
        <%- @placemark.candidates.each do |cand| -%>
          <li><%= link_to(h(cand), :action => 'new', :body => @body, :link => @link, :room => @room, :title => cand) %></li>
        <%- end -%>
      </ul>
    <%- else -%>
      <dl>
        <dt><%= h(@placemark.address) %></dt>
        <dd><%= google_maps_link(@placemark, @zoom, nil) %></dd>
      </dl>
    <%- end -%>
  <%- end -%>
<%- end -%>
