<%- if flash[:message] -%>
  <p class="message"><%=h flash[:message] %></p>
<%- end -%>
<%- form_tag({:action => 'add'}, {:name => 'post', :multipart => !@with_form.nil?}) do -%>
  <p>
    Message: <%= text_field_tag('body', @body) %><br />
    Link: <%= text_field_tag('link', @link) %><br />
    <%= hidden_field_tag('with_form', @with_form) %>
    <%- if @with_form -%>
      image upload: <%= file_field_tag('file') %><br />
    <%- else -%>
      <%= link_to(h('image upload'), :action => 'new', :with_form => '1') %><br />
    <%- end -%>
    <%= hidden_field_tag('lat', @lat) %>
    <%= hidden_field_tag('long', @long) %>
    <%= hidden_field_tag('address', @address) %>
    <%= submit_tag 'post' %>
  </p>
  <hr />
  <p>Recipient: (posted to my feed by default)</p>
  <p>
    <%- @to_lines.times do |idx| -%>
      <%= '<br />' if idx != 0 %>
      To: <%= to_select_tag("to_#{idx}", @to[idx]) %>
    <%- end -%>
    <%= hidden_field_tag('to_lines', @to_lines) %>
    <%= submit_tag 'more' %><br />
    CC to my feed: <%= check_box_tag('cc', 'checked', @cc) %>
  </p>
  <hr />
  <p>For posting with location info:</p>
  <p>
  Address: <%= text_field_tag('title', @title) %> <%= submit_tag 'search' %><br />
  geocoding language: '<%= h(setting.google_maps_geocoding_lang || 'ja') %>'<br />
  zoom: <%= zoom_select_tag('zoom', setting.google_maps_zoom) %><br />
  <%- if gps_link = gps_link(:action => 'new') -%>
  get GPS data: <%= gps_link %>
  <%- end -%>
  </p>
  <%- if @placemark -%>
    <%- if @placemark.ambiguous? -%>
      <p>Ambiguous:</p>
      <ul>
        <%- @placemark.candidates.each do |cand| -%>
          <li><%= link_to(h(cand), :action => 'add', :commit => 'search', :body => @body, :link => @link, :room => @room, :with_form => @with_form, :title => cand) %></li>
        <%- end -%>
      </ul>
    <%- else -%>
      <dl>
        <dt><%= h(@placemark.address) %></dt>
        <dd><%= google_maps_link(@placemark, nil, setting.google_maps_zoom) %></dd>
      </dl>
    <%- end -%>
  <%- end -%>
<%- end -%>
<hr />
<p><a name="bottom">Menu:</a>
<p><%= common_menu %></p.
<script type='text/javascript'><!--
<%- if @with_form -%>
  post.file.focus();
<%- else -%>
  post.body.focus();
<%- end -%>
//--></script>
