<%- form_tag({:action => 'add'}, {:name => 'post'}) do -%>
  <p>
    title: <%= text_field_tag('link_title', @link_title) %><br/>
    link: <%= link_to(h(@link), @link) %><br/>
    room: <%= text_field_tag('room', @room) %><br/>
    <%= hidden_field_tag('link', @link) %>
    message: <%= text_field_tag('body') %><br/>
    <%= submit_tag 'post' %>
  </p>
<%- end -%>
<script type='text/javascript'><!--
post.body.focus();
//--></script>
