<%- form_tag({:action => 'list'}, {:method => 'GET', :name => 'search'}) do -%>
  <p>
    keyword: <%= text_field_tag('query', ctx.query) %><br />
    from room: <%= room_select_tag('room', ctx.room) %><br />
    from friends of: <%= text_field_tag('friends', ctx.friends) %><br />
    from user: <%= text_field_tag('user', ctx.user) %><br />
    from service: <%= text_field_tag('service', ctx.service) %><br />
    with likes: <%= likes_select_tag('likes', ctx.likes) %><br />
    with comments: <%= likes_select_tag('comments', ctx.comments) %><br />
    <br />
    entries in page: <%= text_field_tag('num', ctx.num) %><br />
    <%= submit_tag 'search' %>
  </p>
<%- end -%>
<script type='text/javascript'><!--
search.query.focus();
//--></script>
