<%- if @feedinfo -%>
<p><%= picture_link(@id) %> <%= h(feed_name) %> <%= h(subscribe_status) %> <%= subscribe_status_edit_link %></p>
<p><%= h(feed_description) %></p>
<%- if str = dm_link -%>
  <p><%= str %></p>
<%- end -%>
<p><%= user_page_links %></p>
<hr />
<p><%= feed_service_links %></p>
<p><%= feed_subscriptions_user %></p>
<p><%= feed_subscriptions_group %></p>
<p><%= feed_subscribers %></p>
<%- else -%>
  <p>No such profile</p>
<%- end -%>
<hr />
<p><a name="bottom">Menu:</a>
<p><%= common_menu %></p>
<%= render :partial => 'common' %>
