<html>
  <head>
    <title><%= appname %> entries</title>
    <%= inline_stylesheet %>
  </head>
  <body style="font-size: <%= h(setting.font_size) %>pt;">
    <h1><%= link_to(h(appname), :controller => 'entry') %> <%= h(viewname) %> at <%= date(Time.now) %> <%= top_menu %></h1>
    <%= yield %>
  </body>
</html>
