<html>
  <head>
    <title><%= appname %> entries</title>
    <%= inline_meta -%>
    <%= inline_stylesheet -%>
  </head>
  <body>
    <p class="header"><%= top_marker %><%= link_to(h(appname), :controller => :entry, :action => :inbox) %> <a name="top"><%= h(viewname) %></a> at <%= title_date %> <%= top_menu %></p>
    <%= yield %>
  </body>
</html>
