<html>
  <head>
    <title><%= appname %> entries</title>
    <%= inline_meta(:reload => ['inbox', 'list'].include?(params[:action])) -%>
    <%= inline_stylesheet -%>
    <%= javascript_include_tag("prototype") if ajax? %>
  </head>
  <body>
    <p class="header"><%= top_marker %><a name="top"><%= h(viewname) %></a> <%= top_menu %></p>
    <%= yield %>
  </body>
</html>
