<html>
  <head>
    <title><%= appname %> entries</title>
    <%= inline_meta -%>
    <%= inline_stylesheet -%>
  </head>
  <body>
    <%- form_tag({:action => 'list'}) do -%>
      <p class="header"><%= link_to(h(appname), :controller => 'entry') %> <%= h(viewname) %> at <%= title_date %> <%= top_menu %></p>
    <%- end -%>
    <%= yield %>
  </body>
</html>
