<html>
  <head>
    <title><%= appname %> help</title>
    <%= inline_stylesheet %>
  </head>
  <body style="font-size: <%= h(setting.font_size) %>pt;">
    <h1><%= link_to(h(appname), :controller => 'entry') %> <%= h(viewname) %> at <%= date(Time.now) %> <%= write_new_link %> <%= search_link %> <%= settings_link %> <%= logout_link %> <%= help_link %></h1>
    <%= yield %>
  </body>
</html>
