<html>
  <head>
    <title><%= appname %> help</title>
    <%= inline_meta -%>
    <%= inline_stylesheet %>
  </head>
  <body>
    <h1><%= link_to(h(appname), :controller => 'entry') %> <%= h(viewname) %> at <%= title_date %> <%= top_menu %></h1>
    <%= yield %>
  </body>
</html>
