<html>
  <head>
    <title><%= appname %> help</title>
    <%= stylesheet_link_tag 'f2p' %>
    <style type="text/css">
      body {
        font-size: <%= h(setting.font_size) %>pt;
      }
    </style>
  </head>
  <body>
    <h1><%= link_to(h(appname), :controller => 'entry') %> <%= h(viewname) %> at <%= date(Time.now) %> <%= write_new_link %> <%= search_link %> <%= settings_link %> <%= logout_link %> <%= help_link %></h1>
    <%= yield %>
  </body>
</html>
