<html>
  <head>
    <title><%= appname %> setting</title>
    <%= inline_meta -%>
    <%= inline_stylesheet %>
  </head>
  <body>
    <p class="herader"><%= top_marker %><a name="top"><%= h(viewname) %></a> <%= top_menu %></p>
    <%= yield %>
  </body>
</html>
