<html>
  <head>
    <title><%= appname %> setting</title>
    <%= inline_meta -%>
    <%= inline_stylesheet %>
  </head>
  <body>
    <p class="herader"><a name="top"> </a> <%= top_menu %></p>
    <%= yield %>
  </body>
</html>
