<html>
  <head>
    <title><%= appname %> settings</title>
    <style type="text/css">
      body {
        font-size: <%= h(setting.font_size) %>pt;
      }
      h1 { font-size: 110%; }
      a img { border: none; }
      p.error { color: red; }
      .latest1 { color: #FF0000; }
      .latest2 { color: #C00000; }
      .latest3 { color: #800000; }
      ul {
        list-style-type: none;
        margin-bottom: 0.8ex;
      }
    </style>
  </head>
  <body>
    <h1><%= link_to(h(appname), :controller => 'entry') %> <%= h(viewname) %> at <a name="top"><%= date(Time.now) %></a> <%= write_new_link %> <%= search_link %> <%= settings_link %> <%= logout_link %></h1>
    <%= yield %>
  </body>
</html>
